
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="row jumbotron">

    <div class="col-md-8">

        <h2>About Me:</h2>
        <p>My name is Albert Jere, I am 22 years old attending the University of Pretoria
        I grew up in central Johannesburg. I have an avid love for coding which I use to calm me down 
        when I'm having a stressful day. I love playing sports namely Rugby, soccer Basketball, Hockey and Tennis 
        With my Favorite sport being Basketball of which I play in the first team for TUKS.</p>
    </div>

    <div class="col-md-4">

        <img src="~/Media//About/About.jpg">
    </div>  

</div>
